<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author Creation</title>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <!--Main CSS file-->
    <link rel="stylesheet" href="css/style.css">
    <!-- jQuery -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="js/index.js"></script>
</head>

<body>
<!-- Header -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Welcome to Library</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/book/">Create Book</a></li>
            <li class="active"><a href="/author/">Create Author</a></li>
            <li><a href="/category/">Create Category</a></li>
            <li><a href="/publisher/">Create Publisher</a></li>
            <li><a href="/book/find">Find Book</a></li>
        </ul>
    </div>
</nav>

<div class="form">


    <div class="tab-content">
        <div id="autor create">
            <h3>Enter information:</h3>

            <form action="#" th:action="@{/author/create}"
                  th:object="${author}" method="post" class="m-t" role="form">

                <div class="top-row">
                    <div class="field-wrap">
                        <label>
                            First Name<span class="req">*</span>
                        </label>
                        <input th:field="*{firstName}" type="text" required autocomplete="off"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Last Name<span class="req">*</span>
                        </label>
                        <input th:field="*{lastName}" type="text" required autocomplete="off"/>
                    </div>

                    <div class="field-wrap">
                        <label>
                            Birth Date<span class="req">*</span>
                        </label>
                        <input th:field="*{birthDate}" type="date" required autocomplete="off"/>
                    </div>
                    <div class="field-wrap">
                        <label>
                            Description<span class="req">*</span>
                        </label>
                        <input th:field="*{description}" type="text" required autocomplete="off"/>
                    </div>
                </div>


                <button type="submit" class="btn btn-primary btn-md">Create Author</button>


            </form>
        </div>
    </div><!-- tab-content -->

</div> <!-- /form -->

</body>

</html>
